<<<<<<< HEAD:src/views/signup.ejs
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Secret Santa SignUp
            </h1>
            <% include('./partials/messages') %>
            <form action="/users/signup" method="POST">
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input
                        type="name"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Enter First Name"
                        value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                    <label for="name">Last Name</label>
                    <input
                        type="name"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Enter Last Name"
                        value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                </div>
                <button
                    type="submit"
                    class="btn btn-primary btn-block"
                >
                    Sign Me Up!
                </button>
            </form>
            <p class="lead mt-4">
               Already signed up, have a question? <a href="/users/guide">Santa's Guide</a></a>
            </p>
=======
<div class="row">
  <div class="span8 xmas-splash">hello image</div>
  <div class="span4">
    <div class="card card-body">
      <h1 class="text-center mb-3">Secret Santa SignUp</h1>

      <form action="/users/signup" method="POST">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input
            type="fname"
            id="fname"
            name="fname"
            class="form-control"
            placeholder="Enter First Name"
            value="<%= typeof fname != 'undefined' ? fname : '' %>"
          />
          <label for="lname">Last Name</label>
          <input
            type="lname"
            id="lname"
            name="lname"
            class="form-control"
            placeholder="Enter Last Name"
            value="<%= typeof lname != 'undefined' ? lname : '' %>"
          />
>>>>>>> b72be5bb90ecce2f7314acd9fcf842bb1c5d5680:server/views/signup.ejs
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Sign Me Up!
        </button>
      </form>
      <p class="lead mt-4">
        Already signed up, have a question?
        <a href="/users/guide">Santa's Guide</a>
      </p>
    </div>
  </div>
</div>
